.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 250px; }

.footer {
  background: #75c3cd;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 30px 0px;
  background: #75c3cd;
  color: floralwhite; 
  background-image: url("../img/HomeBackground.JPG");
  background-repeat: no-repeat;
  min-height: 500px;  
  width:1000px;
 
}

.btn{
  display:inline-block;
  background-color:#3f3a3a;
  color: floralwhite;
 
}

.form{
  margin: 0px auto;
  vertical-align: bottom;
  display: inline-block;
  align-self: flex-center;
  font-weight: bold;
  color: #3f3a3a;
  padding: 0px 0px;
  min-height:150px;
  width: 1000px;
  
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  background: #75c3cd;
  color: #3f3a3a;
  z-index: 0; 
  font-family: coiny;

}

.navbar-dark {
  background-color: #3f3a3a;
  color: floralwhite;
 }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #75c3cd; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal-header {
  background: #a8e0fa;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite;
    right: 0px;
    position: absolute;
    vertical-align: middle;
    z-index: 1; }

.modal-body {
  background: #D1C4E9; }

  /*flip card*/
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #75c3cd;
    color: white;
    transform: rotateY(180deg);
  }  